button,
.button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 0.9em;
    outline: none;
    padding: 0;
    text-transform: capitalize;

    a {
        color: inherit;
        text-decoration: none;
    }
    &.default {
        display: block;
        margin: 1em auto;
        padding: 1em 2em;
        font-size: 1em;
        text-transform: uppercase;
    }
    &.dark {
        background: $black;
        color: $white;
    }
    &.primary {
        background: $primary;
        color: $white;
    }
    &.link {

        a {
            display: block;
            padding: 1em 2em;
        }
    }
    &.large {
        font-size: 1.1em;
    }
}