form {

    &.auth-form {
        // box-shadow: $box-shadow1;
        margin: 0 auto;
        max-width: 476px;
        padding: 4rem 2rem;
        position: relative;
        width: 100%;

        fieldset {
            display: block;
            margin-bottom: 1rem;

            label {
                color: $gray;
                display: block;
                font-size: 0.7rem;
                padding: 5px;
                text-transform: uppercase;
            }
            label + input {
                border: none;
                border-bottom: 1px solid $black;
                display: block;
                font-size: 2.3rem;
                outline: none;
                padding: 5px;
                transition: border-bottom 0.150s ease-in-out;
                width: 100%;

                &:active, &:focus {
                    border-bottom: 1px solid $focused;
                    outline: none;

                    ~ label {
                        font-size: 0.5rem;
                    }
                }
            }
        }
        button {
            @include gradient($primary, $purple); //@include gradient(#56106D, #B70263);
            color: $white;
            padding: 1rem 3rem;
            text-transform: uppercase;
        }
    }
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
