@import url('https://fonts.googleapis.com/css?family=Poppins|Song+Myung');

$black: #2d2d2d;
$white: #f7f7f7;
$error: #FF225A; //#ff0033;
$success: #13E864;
$purple: #6713E8;
$focused: #22A6FF;//rgba(81, 203, 238, 1);
$primary: $purple;

$sans-serif: 'Poppins', 'Roboto', sans-serif;
$serif: 'Song Myung', serif;

$box-shadow1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// Mixins
// This mixin defin on ly a gradient color from left to right between 2 colors
// Just add this mixin to ensure the browser compatibility.
@mixin gradient($left, $right) {
    background: #{$left}; /* Old browsers */
    background: -moz-linear-gradient(left, #{$left} 0%, #{$right} 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #{$left} 0%,#{$right} 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #{$left} 0%,#{$right} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$left}', endColorstr='#{$right}',GradientType=1 ); /* IE6-9 */
}